:root {
    background-color: #EEEEEE;
    color: #333333;
    font-family: "SUSE Mono", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

h1,
h2,
h3 {
    color: #2b2954
}

button {
    background-color: #5a5d87;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    margin-top: 5px;
}

code {
    color: red
}

hr {
    border: none;
    height: 2px;
    background-color: #37bad6;
}

.underline {
    text-decoration: blue underline;
}

.wavy {
    text-decoration: blue underline wavy;
}

.verdana {
    font-family: verdana;
}

.descendant li a {
    text-decoration: none;
    list-style: none;
}

input+button {
    background-color: pink;
    color: #2b2954;
}

input[type="password"] {
    color: #37bad6;
}

.hover:hover {
    background-color: #37bad6;
    color: #2b2954;
}

.hover:active {
    background-color: pink;
    color: #2b2954;
}

.box {
    height: 50px;
    background-color: #5a5d87;
    margin-top: 1rem;
}

.box:nth-of-type(2n) {
    background-color: pink;
}

.psuedo li {
    list-style: none;
}

.psuedo li::before {
    content: "❤️";
}

p::selection {
    background-color: aqua;
}

.boxmodel1 {
    width: 300px;
    height: 200px;
    border: 4px dotted pink;
    background-color: aquamarine;
    margin-top: 1rem;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.boxmodel2 {
    width: 300px;
    height: 200px;
    border: 4px dashed aquamarine;
    background-color: #2b2954;
    color: white;
    margin-top: 1rem;
    margin: 0 auto;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.boxmodel3 {
    width: 300px;
    height: 200px;
    border: 4px solid turquoise;
    background-color: pink;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25% 10%;
    padding: 1rem;
}

.pad {
    padding: 20px
}

.display {
    background-color: pink;
    border: 2px solid #2b2954;
}

span {
    background-color: #37bad6;
}

.inline {
    display: inline;
    background-color: pink;
    border: 2px solid #2b2954;
}

.inline-block {
    background-color: #5a5d87;
    color: #EEEEEE;
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 2px solid #2b2954;
    margin-top: 1rem;
}

.parent {
    width: 500px;
    height: 500px;
    background-color: #2b2954;
}

.child {
    width: 50%;
    height: 50%;
    background-color: pink;
}

.em {
    font-size: 1em;
    padding: .5em 2em;
    border-radius: 1em;
}

.alpha {
    width: 500px;
    height: 500px;
    background-color: #5a5d87;
}

.inside-alpha {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.4);
}

.opacity {
    width: 500px;
    height: 500px;
    background-color: #5a5d87;
}

.inside-o {
    width: 50%;
    height: 50%;
    opacity: 50%;
    background-color: pink;

}

.static {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid #5a5d87;
    display: inline-block;
}

.static-middle {
    width: 100px;
    height: 100px;
    background-color: #5a5d87;
    border: 2px solid pink;
    position: static;
    display: inline-block;
}

.relative {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid #5a5d87;
    display: inline-block;
}

.relative-middle {
    width: 100px;
    height: 100px;
    background-color: #5a5d87;
    border: 2px solid pink;
    display: inline-block;
    position: relative;
    top: 25px;
}

.absolute-container {
    position: relative;
}

.absolute {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid #5a5d87;
    display: inline-block;
}

.absolute-middle {
    width: 100px;
    height: 100px;
    background-color: #5a5d87;
    border: 2px solid pink;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 50px;
}